body{
	background:white;
	
}
.hero-image{
	background-image:url("img1.jpg");
	background-position: top;
	height:485px;
	background-size: cover;
	position:static;
}
.hero-image .start{
	font-size:20px;
	color:#c9b5b5;
	margin-top:0px;
	margin-left:90px;
	font-weight:bold;
	font-family:Arial Rounded MT Bold,CSS;
}
.start a{
	margin-left:20px;
}
.logo p{
	color:white;
	font-weight:bold;
	border:0.1em solid;
	border-color:white;
	background:none;
	float:left;
	position:relative;
	top:-20px;
	margin-left:90px;
	padding:2px 40px;
	font-size:50px;
	transform:scale(1,0.8);
}
.top-nav{
	background:none;
	margin-top:55px;
	margin-left:400px;
	font-family:Arial Rounded MT Bold,CSS;
}
.top-nav a{
	font-weight:bold;
	color:#c9b5b5;
	margin-left:5px;
	margin-right:0px;
	text-decoration:none;
	font-size:15px;
	padding:0 16px;
	
}
.top-nav a:hover{
	background:white;
	color:black;
}
form.searchbar{
	float:right;
	margin-right:90px;
}
form.searchbar button {
	position:relative;
	padding:2px;
	left:10px;
	top:-1px;
	background:none;
	color:#c9b5b5;
	font-size:12px;
	cursor:pointer;
	transform:scale(1.5,1);
	font-family:Arial Rounded MT Bold,CSS;
}
input[type=text]{
	background:none;
	color:white;
}
.searchbar:hover{
	background:none;
}

.hero-image .imagetext{
	font-size:20px;
	color:#65d875;
	text-align:center;
	margin-top:150px;
	line-height:10px;
	font-family:Arial Rounded MT Bold,CSS;
}
h1{
	font-size:100px;
	letter-spacing:3px;
	color:white;
}
a.link{
	text-decoration:none;
	margin-right:10px;
	color:white;
}
a.link:hover{
	color:#65d875;
}
.long{
	width:830px;
	background:white;
	margin-left:70px;
	float:left;
}
.long:after{
	display:table;
	content:"";
	clear:both;
}
.date{
	width:50px;
	float:left;
	background:#65d875;
	text-align:center;
	font-family:Copperplate Gothic Light,CSS;
	color:white;
}
.pp{
	float:left;
	margin-left:30px;
}

.para-all:after{
	display:table;
	content:"";
	clear:both;
}
.iimg{
	height:440px;
	width:700px;
}
.white-box{
	color:grey;
	font-family:Arial Rounded MT Bold,CSS;
	background:white;
	width: 670px;
	margin-left: 30px;
	position: relative;
	top: -65px;
}
.white-box h3:hover{
	color:#CCCCCC;
	cursor:pointer;
}
p.more{
	border-bottom:3px solid #65d875;
	width:101px;
	padding:5px 0px;
}
p.more:hover{
	color:#CCCCCC;
	cursor:pointer;
}
.long2{
	background:none;
	float:left;
	width:370px;
}
.long2:after{
	display:table;
	clear:both;
	content:"";
}
.all{
	margin-top:50px;
}
.all:after{
	display:table;
	clear:both;
	content:"";
}

.img-text{
	margin-bottom:50px;
}
img-text:after{
	display:table;
	clear:both;
	content:"";
	
}
.cc{
	width:120px;
	height:70px;
	float:left;
}
tags{
	float:left;
}
tags:after{
	display:table;
	clear:both;
	content:"";
}
.sbar{
	margin-right:-20px;
	margin-bottom:70px;
}
input.left-bar{
	color:black;
	border:2px solid grey;
	padding:15px 175px 15px 15px;
}

.bar button{
	background:none;
	border:none;
	cursor:pointer;
}
.about-me{
	margin-bottom:50px;
}
.latest{
	margin-bottom:100px;
}
.hhead{
	font-family:Copperplate Gothic Light,CSS;
	margin-bottom:30px;
	color:#333333;
}
.me-middle{
	font-family:Arial Rounded MT Bold,CSS;
}
h3.one{
	font-family:Arial Rounded MT Bold,CSS;
	margin-left:145px;
	font-size:15px;
	color:grey;
}
h3.one:hover{
	color:#CCCCCC;
	cursor:pointer;
}
p.two{
	font-family:Copperplate Gothic Light,CSS;
	margin-left:145px;
	font-size:12px;
	margin-top:-10px;
	color:grey;
}
.tags button{
	background:#333333;
	color:#c9b5b5;
	padding: 10px 20px;
	border:none;
	margin-bottom:8px;
	margin-right:4px;
}
.tags button:hover{
	background:#CCCCCC;
	color:#333333;
}
.about-me i.fa{
	font-size:20px;
	color:grey;
	margin-left:45px;
}
.about-me a.fb i.fa:hover {
    color: #3b5998;
}
.about-me a.insta i.fa:hover {
    color: #3f729b ;
}
.about-me a.twite i.fa:hover {
	color:#00acee;
}
.about-me a.google i.fa:hover {
    color: #3cba54;
}
a.ab{
	text-decoration:none;
	color:#c9b5b5;
}
a.ab:hover{
	color:#333333;
}
/*web project css file*/

/* footer */
.footer{
    width: 100%;
    height: 360px;
    background-image: url("snow3.jpg");
    background-size: cover;
    background-size: 100% 100%;
    text-align: center;
	font-family:Arial Rounded MT,CSS;
}


.footer i.fa{
  padding: 20px;
  font-size:30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color:grey;
}
a.none{
	text-decoration:none;
	color:black;
}
a.none:hover{
	color:#65d875;
}

.footer a.fb i.fa:hover {
    color: #3b5998;
}
.footer a.insta i.fa:hover {
    color: #3f729b ;
}
.footer a.twite i.fa:hover {
	color:#00acee;
}
.footer a.google i.fa:hover {
    color: #3cba54;
}
.footer a.rss i.fa:hover {
    color: #ee802f ;
}
